*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "EB Garamond", serif;
  background: black;
  color: white;
  line-height: 1.6;
}
.btn {
  background: #1f7d53;
  color: black;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}
.logo img {
  height: 40px;
}
.navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.links {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
  font-size: 2rem;
}
.links a {
  font-family: "Oswald", serif;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 7px;
}
.log {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login-btn {
  background-color: #255f38;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 13px;
}
.hero {
  background-image: url(rowrow.jpg);
  height: 70vh;
  margin-top: 30px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.over {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  border-radius: 8px;
}
.sub {
  font-size: 1rem;
  font-weight: 600;
}
.title {
  font-size: 3rem;
  font-weight: 900;
}
.pri-sec{
    padding: 40px 60px;
}
.introo{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}
.introo h1{
    color: #1f7d53;
    font-size: 2.5rem;
    flex: 1;
}
.introo p{
    flex: 1;
    max-width: 500px;
    font-size: 1rem;
    line-height: 1.6;
}
hr{
    border: none;
    border-top: 1px solid gray;
    margin: 40px 0;
    margin-top: 40px;
}
.subhead{
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.plan-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 0;
}
.plan-right, .middle, .plan-left{
    flex: 1;
    text-align: center;
}
.plan-left h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.plan-right button a{
  color: black;
  text-decoration: none;
}
.small{
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    line-height: 1.3;
}
.sm{
    color: white;
    font-size: 2rem;
    margin-bottom: 5px;
}
.plan-right button{
    background-color: #1f7d53;
    color: black;
    padding: 10px 20px;
    border: none;
    font-weight: bolder;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}
.plan-right ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 0.85rem;
    color: white;
}
.plan-right ul li{
    margin-bottom: 5px;
}
.mem-sec{
  background-color: #18230f;
  color: white;
  text-align: center;
  padding: 50px 20px;
}
.mem-sec h1{
  font-size: 28px;
  margin-bottom: 10px;
}
.mem-sec p{
  font-size: 16px;
  margin-bottom: 40px;
}
.card-contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.car{
  background-color: #18230f;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 30px;
  max-width: 250px;
  width: 100%;
}
.car h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.car .min{
  font-weight: bolder;
  margin-bottom: 20px;
}
.car h3{
  font-size: 40px;
  margin-bottom: 15px;
}
.car .sub{
  font-size: 15px;
  margin-bottom: 25px;
}
.car ul{
  list-style: none;
  font-size: 13px;
  margin-bottom: 30px;
}
.car ul li{
  margin: 5px 0;
  font-style: italic;
}
.car a{
  text-decoration: none;
  color: black;
}
.car button{
  background-color: #1f7d53;
  color: black;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.4s;
  text-decoration: none;

}
.car button:hover{
  background-color: #ccc;
}
.footer {
  background-color: black;
  padding: 30px 40px 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
}
.footer-left h2 {
  font-family: "EB Garamond", serif;
  color: #255f38;
  font-size: 2rem;
  margin-bottom: 20px;
}
.icons {
  display: flex;
  gap: 20px;
}
.ic {
  background-color: #1f7d53;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s ease;
  margin-top: 90px;
}
.ic:hover {
  transform: scale(1.1);
}
.nav-foot {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-foot a {
  color: #bcb6b6;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}
.nav-foot a:hover {
  color: #1f7d53;
}
.nav-foot ul {
  list-style-type: none;
}
.nav-foot:hover {
  color: #1f7d53;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
}
.footer-right small {
  color: #999;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-right p {
  margin: 4px 0 0;
  font-size: 1rem;
  color: #eee;
}


