*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'EB Garamond', serif;
    background: white;
    color: black;
    line-height: 1.6;
}
.hero{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
.btn {
  background: #1F7D53;
  color: black;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;}
.info{
    padding: 40px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.talk-left{
   flex: 2;
   line-height: 1.6;
   font-size: 1.2rem;
}
.feature-left{
    flex: 1;
    display: flex;
    gap: 60px;
}
.contain{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
}
.feature-left ul{
    list-style: none;
}
.feature-left li{
    margin-bottom: 12px 0;
    gap: 60px;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img{
    height: 40px;
}
.links{
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: center;
    font-size: 2rem;
}
.links a{
    font-family: 'Oswald',serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 7px;
}
.log{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-btn{
    background-color: #255f38;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 13px;
}
.contain2 {
  margin: 0 auto;
  padding: 0;
  position: relative;
max-width: 700px;
}
.label {
  color: #255F38;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: xx-large;
}
.res {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.res span {
  font-weight: normal;
  margin-right: 12px;
}
.hours {
  font-size: 1rem;
  color: black;
  margin: 4px 0;
}
.fix {
  text-align: center;
  margin: 0;
  padding: 40px 20px;
}
.footer {
  background-color: black;
  padding: 30px 40px 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
}
.footer-left h2 {
  font-family: "EB Garamond", serif;
  color: #255f38;
  font-size: 2rem;
  margin-bottom: 20px;
}
.icons {
  display: flex;
  gap: 20px;
}
.ic {
  background-color: #1F7D53;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s ease;
  margin-top: 90px;
}
.ic:hover {
  transform: scale(1.1);
}
.nav-foot {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-foot a {
  color: #bcb6b6;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}
.nav-foot a:hover {
  color: #1F7D53;
}
.nav-foot ul {
  list-style-type: none;
}
.nav-foot:hover {
  color: #1F7D53;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
}
.footer-right small {
  color: #999;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-right p {
  margin: 4px 0 0;
  font-size: 1rem;
  color: #eee;
}